

body {
    font-family: Arial, sans-serif;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }
  
  label {
    margin-top: 10px;
    font-size: 20px;
    margin-bottom: 10px;
    color: rgb(135, 155, 222);
  }
  
  input,
  select {
    margin-right: 10px;
    outline: none;
    height: 30px;
    width: 300px;
    border: none;
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  li {
    margin-bottom: 10px;
    font-size: 10px;
    color:red;
  }

  #add-button{
    margin-top: 20px;
    margin-bottom: 50px;
  }

  .btn{
    padding: 10px;
    border-radius: 5px;
    width: 80px;
    font-size: 10px;
    background-color: rgba(0, 255, 255, 0.312);
    border: none;
  }

  #submit{
    width: 140px;
    font-size: 15px;
  }


  .name-genaretor{
    border: 1px solid black;
    width: 500px;
    height: 550px;
    background-color: aliceblue;
    text-align: center;
    margin: auto;
  }
  